{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block titulo %}
    <title> ShowPorAi </title>
    {% endblock titulo %}

    <link rel = "stylesheet" href = "{% static 'css/estilo.css' %}">
    
</head>
<body>

  

    <ul id="menu">
        
        {% if request.user.is_authenticated %}
        <li><a href = "{% url "ver-show" %}">Shows</a></li> 
        <li><a href = "{% url "inserir-show" %}">Cadastro dos Shows</a></li> 
        <li><a href = "{% url "sair" %}">Logout</a></li> 

        {% else %}
        <li><a href = "{% url "index" %}">Início</a></li>
        <li><a href = "{% url "ver-show" %}">Shows</a></li>
        <li><a href = "{% url "sobre" %}">Sobre Nós</a></li>
        <li><a href = "{% url "login" %}">Login</a></li> 
       
        {% endif %}
    </ul>

    


    {%   block conteudo   %}
        <img src="{% static 'img/showporai.png' %}" class = "LogoShowPorAi" alt="LogoShowPorAi">
    {%   endblock   %}

    <p id = "rodape">
        Desenvolvido Por Beatriz Oliveira Lustosa
    </p>
</body>
</html>