{% extends "paginas/index.html" %}



{% load static %}


{% block conteudo %}


  <div class="modal">
    <div class="modal-content">
      <div class="titulodescricao">DESCRIÇÃO GERAL</div>
      <div class="descricao">
        O projeto “Show Por Aí” propõe o desenvolvimento de um site que conecta músicos locais ao público, 
        promovendo a divulgação de eventos musicais em suas cidades. A plataforma permite que artistas cadastrem seus perfis,
        compartilhem informações sobre seus shows — sejam eles públicos (em barzinhos, praças, festas abertas) 
        ou privados (em aniversários, confraternizações etc.) — e atualizem mídias promocionais. 
        O público, por sua vez, poderá buscar por apresentações conforme cidade, data e tipo de evento, 
        facilitando o acesso à cena musical local.
      </div>
      <BR>
    </div>
  </div>
 
   <br>
   <br>
  <br>
    <div class="modal">
         <div class="modal-content">
            <div class="titulodescricao">DIAGRAMA DE CLASSES</div>
                <img src="{% static 'img/diagramaclasse.png' %}" class = "diagramaclasse" alt="diagramaclasse"> 

            </div>
          </div>
    </div>
  <br>
   <br>
  <br>
    <div class="modal">
         <div class="modal-content">
            <div class="titulodescricao">DIAGRAMA DE CASOS DE USO</div>
                <img src="{% static '' %}" class = "diagramadecasosdeuso" alt="diagramadecasosdeuso"> 

            </div>
          </div>
    </div>
  
  <p class = "rodapesobre"> Desenvolvido por Beatriz Oliveira Lustosa </p>

  {%   endblock   %}
