{% extends "paginas/index.html" %}
{% load static %}

{% block conteudo %}
<h2>Lista de Mídia</h2>

<table>
  <thead>
    <tr>
      <th>Foto Perfil</th>
      <th>Divulgação Cantor</th>
      <th>Divulgação Show</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody>
  {% for midia in object_list %}

    <tr>
      <td>{{ midia.foto_perfil }}</td>
      <td>{{ midia.divulgacao_cantor }}</td>
      <td>{{ midia.divulgacao_show }}</td>
      <td>
        <a href="{% url "editar-midia" midia.pk %}">Editar</a>
        <a href="{% url "excluir-midia" midia.pk %}">Excluir</a>
      </td>

    </tr>
  {% empty %}
    <tr>
      <td colspan="4">Nenhum Perfil Encontrado.</td>
      
    </tr>
  {% endfor %}
  </tbody>

 </table>
{% endblock %}
