{% extends "paginas/index.html" %}
{% load static %}

{% block conteudo %}
<h2>Lista de Shows</h2>

<table>
  <thead>
    <tr>
      <th>Cantor</th>
      <th>Nome do Show</th>
      <th>Data</th>
      <th>Hora</th>
      <th>Tipo de Show</th>
      <th>Foto</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody>
  {% for show in object_list %}

    <tr>
      <td>{{ show.cantor }} </td>
      <td>{{ show.nome }}</td>
      <td>{{ show.data }}</td>
      <td>{{ show.hora }}</td>
      <td>{{ show.tipo_show }}</td>
      <td>{{ show.foto_show }}</td>
      <td>
        <a href="{% url "editar-show" show.pk %}">Editar</a>
        <a href="{% url "excluir-show" show.pk %}">Excluir</a>
      </td>

    </tr>
  {% empty %}
    <tr>
      <td colspan="6">Nenhum Show Encontrado.</td>
      
    </tr>
  {% endfor %}
  </tbody>

 </table>
{% endblock %}
